<ion-view view-title="Edit Note">
  <ion-content>
    <div class="list">
      <div class="item item-input item-floating-label">
        <span class="input-label">Note Title</span>
        <input type="text" placeholder="Note Title" ng-model="note.title">
      </div>
    <div class="item item-input item-floating-label">
      <span class="input-label">Note Content</span>
      <textarea rows="5" placeholder="Write your note content here." ng-model="note.description"></textarea>
    </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="save()">
        Save
      </button>
    </div>
  </ion-content>
</ion-view>
