<ion-view view-title="My Notes" ng-controller="ListCtrl">
  <ion-content class="content-wp">
    <!-- <img src="insertAnImage(400x200)" alt="" /> -->
    <div class="padding">
      <!-- add note button -->
      <a href="#/add" class="button button-block button-calm">New Note</a>
      <!-- add note button -->
      <button class="button button-light icon-left ion-shuffle" ng-click="toggleReordering()">
        Reorder
      </button>
    </div>
    <ion-list show-reorder="reordering">
      <ion-item href="#/edit/{{note.id}}" class="item item-remove-animate item-icon-right" ng-repeat="note in notes track by note.id">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <i class="icon ion-arrow-right-b light-icon"></i>
        <ion-reorder-button class="ion-drag" on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remove(note.id)">Remove</ion-option-button>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-view>
