/* Empty. Add your own CSS if you like */
.customNav{
  background-color: #11c1f3!important;
      color: white!important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
  }
  .input-label {
    color: #11c1f3!important;
}

  .item {
      border-color: rgba(221, 221, 221, 0.39);
      background-color: #fff;
      color: #444;
      display: block;

      /* border-width: 1px; */
      border-top-width: 2px;
      border-style: solid;
      font-size: 16px;
  }

.bar.bar-stable .title{
  color: white!important;
  text-align: center;
}

.light-icon{
  color: rgba(68, 68, 68, 0.34)!important;
  font-size: 25px!important;
}

.content-wp{
  background-color: ;
}

.white{
  color: white!important;
}
